#footTop{
	background-color:#202020; 
	height:36px;
}
#footTop td{
	height:36px;
	font-size:14px;
}
.Z_top3a #spanSpace{display:none;}
.logo.logo2{background-image:url(../img/login22.png)};
.logo.logo1{background-image:url(../img/logo2.png)};
/* .logo.logo2{background-image:url(../img/login22.png)}; */
.Z_top3a #spanSpace{display:none;}
/*

